-h1 {
	color:black;
}
h4{ color:black;
}

body {
background-size:cover;
background-color:white;
}

a:link {
  color: black; 
  text-decoration: none; 
}


a:active {
  color: black;
  text-decoration: none;
}


a:hover {
  color: red;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color:white;
  color: red;
}


.topnav input[type=text] {
    display: block;
    text-align: left;
    width: 20%;
    padding: 5px;
  }
  

input[type="submit"] {
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  transition: transform 0.3s;
}

.image-container img:hover {
  transform: scale(1.1);
}

.image-container .Border img:hover {
  capacity: 0.7;
}



